{% extends "../base.html" %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block body %}
<div class="modal position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modal_new_note">
    <div class="container" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <!-- <h1 class="modal-title fs-5" >Modal title</h1> -->
                <h1 class="fw-bold mb-0 fs-2">{{ page_title }}</h1>
            </div>

            <div class="modal-body p-5 pt-0">
                <form method="post">
                    {{ form.non_field_errors }}
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group mb-3">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">{{ button_text }}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}